<% layout("/layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <br><br>
            <h3>Create a new listing</h3>
            <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" name="listing[title]" placeholder="Enter title..." required>
                    <div class="invalid-feedback">Title should be valid</div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" name="listing[description]" required></textarea>
                    <div class="invalid-feedback">Please enter a short description</div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="image">Upload listing image</label>
                    <input class="form-control" type="file" name="listing[image]" required >
                    <div class="invalid-feedback">Upload a valid file</div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="price">Price</label>
                    <input class="form-control" type="number" name="listing[price]" placeholder="Enter price..." required>
                    <div class="invalid-feedback">Price should be a valid number</div>
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label class="form-label" for="location">Location</label>
                        <input class="form-control" type="text" name="listing[location]" placeholder="Enter location..." required>
                        <div class="invalid-feedback">Location should be valid</div>
                    </div> 
                    <div class="mb-3 col-md-8" >
                        <label class="form-label" for="country">Country</label>
                        <input class="form-control" type="text" name="listing[country]" placeholder="Enter country..." required>        
                        <div class="invalid-feedback">Country should be valid</div>
                    </div>
                </div>
                <br><br>
                <button class="btn btn-dark add-btn">Add</button><br><br>

            </form>
        </div>
    </div>
</body>
